.project {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--clr-bg-alt);
  width: 100%;
  box-sizing: border-box;
}

.project:hover {
  transform: translateY(-7px);
}

.project__date {
  color: var(--clr-fg-alt);
  font-size: 0.9em;
  font-style: italic;
  margin: 0.5em 0;
}

.project__description {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin: 0.5em;
}

.project__read-more {
  margin: 1.5em 0;
}

.project__read-more .btn {
  font-size: 0.9em;
  padding: 0.5em 1em;
}

.project img {
    height: 220px;
    width: 220px;
}

.project__description-list {
  padding-left: 1rem;
  margin-top: 1rem;
  text-align: left;
  list-style-type: disc;
}

.project__description-item {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.4;
}
