.scroll-top {
  position: fixed;
  bottom: 2em;
  right: 4em;
  background-color: transparent;
}

.scroll-top__button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--clr-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;
}

.scroll-top__button:hover {
  color: var(--clr-accent);
}

@media (max-width: 1024px) {
    .scroll-top {
        width: 40px;
        height: 40px;
        bottom: 16px;
        right: 16px;
        opacity: 0.3;
    }

    .scroll-top:hover {
        opacity: 0.8;
    }
}